[Unit]
Description=Jupyter Notebook

[Service]
Type=simple
PIDFile=/run/jupyter.pid
ExecStart=/data/startup.sh
Restart=always
RestartSec=10
#KillMode=mixed

[Install]
WantedBy=multi-user.target
